[Unit]
Description=Planification du moniteur OSINT (%i)

[Timer]
OnCalendar=daily
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
